.graph_title1{
	font-size:22px;
}
.graph_title2{
	padding-top:290px;
	font-size:22px;
}
body
{background: #eff1ef;}

#outercontent 
{background:#eff1ef;}
.col-lg-8{
	padding-top:80px;
}
.col-lg-4{
	padding-top:80px;
}